*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --black: #212121;
    --white: #ececec;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    margin: 0;
    background-color: var(--white);
    color: var(--black);
}
